* {
    background: #FAFAFA;
    margin: 0;
}
body {
    height: 33vh;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 160px;
}

strong {
    text-transform: uppercase;
    font-family: "Poppins";
    font-size: 13px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
}

.title {
    font-family: "PT Serif";
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.045em;
    margin-top: 10px;
}

.about {
    font-size: 11px;
}

#container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: auto;
    
    width: 700px;
    height: 500px;

    margin-left: auto;
    margin-right: auto;

    justify-content: space-evenly;
    justify-items: center;
    align-items: center;

    
   
}

.card {
    
    width: 130px;
    height: 180px;
    
}

.sideBySide {
    display:inline-flex;
}


.picSide {
    writing-mode: vertical-rl;
    font-family: "PT Serif";
    font-size: 8px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-transform: uppercase;
}

.textBottom {
    font-family: "Poppins";
    font-size: 12px;
    font-weight: 600;
}

img {
    height: 90%;
    width: 85%;
}

.new {
    align-self: end;
  }

  footer {
    text-align: center;
    position: sticky;
    margin-bottom: 24px;
    color: #BDBDBD;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.devChallenge {

    text-decoration: none;
    color: #BDBDBD;
}

a {
    color: #BDBDBD;
}

#profile:hover {
    color: black;
}

@media screen and (max-width: 720px) {
    header {
        gap: 50px;
    }

    #container {
        
    }

}