* {
    background: #FAFAFA;
    margin: 0;
}
body {
    height: 33vh;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
    margin-top: 25px;
}

strong {
    text-transform: uppercase;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
}

.title {
    font-family: "PT Serif";
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -0.045em;
    margin-top: 10px;
}

#container {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: auto;
    
    width: 700px;
    height: 400px;

    margin-left: auto;
    margin-right: auto;

    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
   
    border: 1px solid black;
}

.card {
    
    width: 100px;
    height: 150px;
    border: 1px solid black;
    
}

.sideBySide {
    position:relative;
    display:inline-block;
}


.picSide {
    position: absolute;
    transform: rotate(90deg);
    transform-origin:100% 100%;
    -ms-transform: rotate(90deg); /* IE 9 */
    -ms-transform-origin:100% 100%; /* IE 9 */
    -webkit-transform:rotate(90deg);
    -webkit-transform-origin: 100% 100%;
    z-index: 100;
    right: 14px; /*edited*/
    top: 50px;
    font-family: "PT Serif";
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-transform: uppercase;
}

img {
    height: 90%;
    width: 85%;
}

.new {
    align-self: end;
  }

  footer {
    text-align: center;
    position: sticky;
    margin-bottom: 24px;
    color: #BDBDBD;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.devChallenge {

    text-decoration: none;
    color: #BDBDBD;
}

a {
    color: #BDBDBD;
}